<c-row>
  <c-col>
    <h4>{{ title }}</h4>
  </c-col>
  <c-col class="text-end">
    <button cButton color="primary" (click)="openModal()">
      <svg cIcon name="cilPlus"></svg>
      Nuevo Registro
    </button>
  </c-col>
</c-row>

<c-card class="mt-3">
  <c-card-body>
    <c-row class="g-3 align-items-end" [formGroup]="form">
      <c-col sm="12" md="6" lg="4">
        <label for="">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" />
      </c-col>
      <c-col>
        <button cButton color="primary" (click)="onSearch()" class="me-2">
          <svg cIcon name="cilSearch"></svg>
          Buscar
        </button>
        <button cButton color="danger" (click)="onClean()">
          <svg cIcon name="cilTrash"></svg>
          Limpiar
        </button>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<c-card class="mt-3">
  <c-card-body>
    <c-row>
      <c-col sm="12" md="12" lg="12">
        <table cTable striped="true">
          <thead>
            <tr>
              <th>Acciones</th>
              <th>Código</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            @for (item of currencies; track $index) {
              <tr>
                <td>
                  <button (click)="openModal(item.id)" size="sm" class="me-2" cButton color="info">
                    <svg cIcon name="cilPencil"></svg>
                  </button>
                  <button (click)="onDelete(item.id)" size="sm" cButton color="danger">
                    <svg cIcon name="cilTrash"></svg>
                  </button>
                </td>
                <td>{{ item.codigo }}</td>
                <td>{{ item.nombre }}</td>
              </tr>
            }
            @if (currencies.length === 0) {
              <tr>
                <td colspan="3">No se encontraron datos</td>
              </tr>
            }
          </tbody>
        </table>
        <app-paginator
          [(page)]="page.page"
          [pageSize]="page.pageSize"
          [total]="total"
          (pageChange)="onPageChange($event)"
        ></app-paginator>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<app-currency-new-edit-modal #currencyNewEditModal></app-currency-new-edit-modal>
