.btn {
  &.btn-primary {
    color: white;
  }
  &.btn-success {
    color: white;
  }
  &.btn-danger {
    color: white;
  }
  &.btn-warning {
    color: #1a1a1a;
  }
  &.btn-info {
    color: white;
  }
}