<c-modal [visible]="visible" alignment="center" backdrop="static">
  <c-modal-body>
    <c-row class="mb-2">
      <c-col [sm]="12" class="space-between">
        <h5>{{ title() }}</h5>
      </c-col>
    </c-row>
    <c-card>
      <c-card-body [formGroup]="form">
        <input type="hidden" [formControlName]="'id'" />
        <c-row>
          @for (item of structure; track $index) {
            <c-col [md]="item.col">
              @switch (item.type) {
                @case ('text') {
                  <label [for]="item.formControlName" class="form-label">{{ item.label }}</label>
                  <input
                    [id]="item.formControlName"
                    class="form-control"
                    type="text"
                    [class.is-invalid]="
                      form.get(item.formControlName)?.invalid && form.get(item.formControlName)?.touched
                    "
                    [formControlName]="item.formControlName"
                    [placeholder]="item.label"
                  />
                }
                @case ('number') {
                  <label [for]="item.formControlName" class="form-label">{{ item.label }}</label>
                  <input
                    [id]="item.formControlName"
                    class="form-control"
                    type="number"
                    [class.is-invalid]="
                      form.get(item.formControlName)?.invalid && form.get(item.formControlName)?.touched
                    "
                    [formControlName]="item.formControlName"
                  />
                }
                @case ('checkbox') {
                  <div class="form-check">
                    <input
                      [id]="item.formControlName"
                      class="form-check-input"
                      type="checkbox"
                      [formControlName]="item.formControlName"
                    />
                    <label [for]="item.formControlName" class="form-check-label">
                      {{ item.label }}
                    </label>
                  </div>
                }
              }
              <app-validation-messages
                [messages]="messages"
                [form]="form"
                [controlName]="item.formControlName"
              ></app-validation-messages>
            </c-col>
          }
        </c-row>
      </c-card-body>
    </c-card>
    <c-row class="mt-4">
      <c-col class="text-end">
        <button cButton color="secondary" class="me-2" (click)="onClose()">
          <svg cIcon name="cilX"></svg>
          Cancelar
        </button>
        <button cButton color="success" (click)="onSubmit()">
          @if (isLoading()) {
            <c-spinner size="sm" class="me-2"></c-spinner>
            Cargando...
          } @else {
            <svg cIcon name="cilSave"></svg>
            Guardar
          }
        </button>
      </c-col>
    </c-row>
  </c-modal-body>
</c-modal>
