<c-row class="mb-3">
  <c-col>
    <h4>{{ title }}</h4>
  </c-col>
  <c-col class="text-end">
    <button cButton color="primary" (click)="openModal()">
      <svg cIcon name="cilPlus"></svg>
      Nuevo Registro
    </button>
  </c-col>
</c-row>

<c-card class="mb-3">
  <c-card-body>
    <c-row class="g-3 align-items-end" [formGroup]="form">
      <c-col sm="12" md="6" lg="3">
        <label for="">Nombre</label>
        <input formControlName="prod_nom" type="text" class="form-control" />
      </c-col>
      <c-col sm="12" md="6" lg="3">
        <label for="">Categoría</label>
        <select formControlName="cat_id" class="form-control form-select">
          <option [ngValue]="null">Todas</option>
          @for (categoria of categorias; track $index) {
            <option [ngValue]="categoria.cat_id">{{ categoria.cat_nom }}</option>
          }
        </select>
      </c-col>
      <c-col>
        <button cButton color="primary" (click)="onSearch()" class="me-2">
          <svg cIcon name="cilSearch"></svg>
          Buscar
        </button>
        <button cButton color="danger" (click)="onClean()">
          <svg cIcon name="cilTrash"></svg>
          Limpiar
        </button>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>

<c-card>
  <c-card-body>
    <c-row>
      <c-col sm="12" md="12" lg="12">
        <table cTable striped="true">
          <thead>
            <tr>
              <th>Acciones</th>
              <th>Imagén</th>
              <th>Código</th>
              <th>Nombre</th>
              <th>Categoría</th>
            </tr>
          </thead>
          <tbody>
            @if (products.length == 0) {
              <tr>
                <td colspan="5">No hay datos</td>
              </tr>
            } @else {
              @for (product of products; track $index) {
                <tr>
                  <td>
                    <button
                      (click)="openModal(product.prod_id)"
                      size="sm"
                      class="me-2"
                      cButton
                      color="info"
                    >
                      <svg cIcon name="cilPencil"></svg>
                    </button>
                    <button (click)="onDelete(product.prod_id)" size="sm" cButton color="danger">
                      <svg cIcon name="cilTrash"></svg>
                    </button>
                  </td>
                  <td></td>
                  <td>{{ product.prod_cod_interno }}</td>
                  <td>{{ product.prod_nom }}</td>
                  <td>{{ product.categoria?.cat_nom }}</td>
                </tr>
              }
            }
          </tbody>
        </table>
        <app-paginator
          [(page)]="page.page"
          [pageSize]="page.pageSize"
          [total]="total"
          (pageChange)="onPageChange($event)"
        ></app-paginator>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
<app-product-new-edit-modal #productNewEditModal></app-product-new-edit-modal>
