  <c-row>
      <c-col>
        <h4>{{ title() }}</h4>
      </c-col>
      <c-col class="text-end">
        <button cButton color="primary" (click)="openModal()">
          <svg cIcon name="cilPlus"></svg>
          Nuevo Registro
        </button>
      </c-col>
    </c-row>

    <c-row class="mt-4">
      <c-col>
        <c-card>
          <c-card-body>
            <c-row class="g-3 align-items-end" [formGroup]="form">
              <c-col sm="12" md="3" lg="3">
                <label for="">Nombre</label>
                <input formControlName="name" type="text" class="form-control" />
              </c-col>
              <c-col>
                <button cButton color="primary" (click)="onSearch()" class="me-2">
                  <svg cIcon name="cilSearch"></svg>
                  Buscar
                </button>
                <button cButton color="secondary" (click)="onClean()">
                  <svg cIcon name="cilX"></svg>
                  Limpiar
                </button>
              </c-col>
              <c-col sm="12" md="12" lg="12">
                <table cTable striped="true">
                  <thead>
                    <tr>
                      <th>Acciones</th>
                      <th>Nombre</th>
                    </tr>
                  </thead>
                  <tbody>
                    @if(units.length > 0){ @for (unit of units; track $index) {
                    <tr>
                      <td>
                        <button
                          (click)="openModal(unit.id!)"
                          size="sm"
                          class="me-2"
                          cButton
                          color="info"
                        >
                          <svg cIcon name="cilPencil"></svg>
                        </button>
                        <button (click)="onDelete(unit.id!)" size="sm" cButton color="danger">
                          <svg cIcon name="cilTrash"></svg>
                        </button>
                      </td>
                      <td>{{ unit.name }}</td>
                    </tr>
                    }}@else{
                    <tr>
                      <td colspan="3">No hay datos</td>
                    </tr>
                    }
                  </tbody>
                </table>
                <app-paginator
                  [(page)]="page.page"
                  [pageSize]="page.pageSize"
                  [total]="total"
                  (pageChange)="onPageChange($event)"
                ></app-paginator>
              </c-col>
            </c-row>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
    <app-unit-of-measure-new-edit-modal
      #unitOfMeasureNewEditModal
    ></app-unit-of-measure-new-edit-modal>
